.hero-container {
    /* width: 65%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info {
    /* width: 55%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: visible;
}

.hero-info-heading {
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    overflow: visible;
}

.hero-info-desc {
    color: #abb2bf;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin: 32px 0 24px;
    overflow: visible;
}

.hero-images {
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-image {
    width: 100%;
    background: none;
    z-index: 2;
    object-fit: contain;
}

.hero-image-eff {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: contain;
    right: 30%;
    bottom: 10%;
    background: none;
}

.hero-quote {
    width: 100%;
    border: 1px solid #abb2bf;
    padding: 8px;
    color: #abb2bf;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #282c33;
    z-index: 3;
    overflow: visible;
}

.hero-quote-ind {
    width: 16px;
    height: 16px;
    background: #c778dd;
    margin-right: 10px;
}
