@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

*,
body {
    font-family: "Fira Code", monospace;
    overflow-x: hidden;
    background-color: #282c33;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    padding-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c778dda6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c778dd;
}
