.navbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0 8px;
}

.navbar-inner {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #ffffff;
}

.navbar-items {
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.navbar-item-link {
    color: #abb2bf;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    transition: 0.5s all ease-in-out;
}

.navbar-item-link:hover {
    color: #ffffff;
}

.navbar-item-sym {
    color: #c778dd;
}

.navbar-hamburger-btn {
    font-size: 24px;
    color: #abb2bf;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.navbar-hamburger-btn:hover {
    color: #ffffff;
}
