.skills-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-bg {
    width: 35%;
    object-fit: contain;
    @apply hidden md:block;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* gap: 16px; */
    @apply w-[95%] md:w-1/2 flex-col md:flex-row gap-2 md:gap-4 items-center md:items-start;
}

.skills-list-col {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 16px; */
    @apply w-[90%] md:w-[33%] gap-0 md:gap-4;
}

.skills-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 8px 0px; */
    gap: 8px;
    border: 1px solid #abb2bf;
    @apply py-1 md:py-2;
}

.skill-category {
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #abb2bf;
}

.skill-sets {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 8px;
    gap: 8px;
}

.skill-set-item {
    color: #abb2bf;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
